

.item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.2s;
    width: calc(100% - 16px);

    padding: 8px;

    background-color: $secondary;
    
    img{
        height: 24px;
        cursor: pointer;
    }
    
    &:hover{
        background-color: $tertiary;
    }
}

.underline{
    text-decoration: line-through;
    background: $quaternary;
    opacity: 0.5;
}