@import 'list';
@import 'input';

html{
    background: #698996;
}

.App{
    display: flex;
    justify-content: center;
}
.container{
    margin-top: 10%;
    max-width: 600px;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
}